# Strings
- Strings are collections data type

In [153]:
ss =  'PythonGood'

In [156]:
ss[0:6]

'Python'

In [157]:
ss[:6]

'Python'

In [158]:
ss[0:]

'PythonGood'

In [159]:
ss[0:] == ss

True

In [160]:
ss[:] == ss

True

In [166]:
ss[0:10:1]

'PythonGood'

In [170]:
ss[0:10:1]==ss[:]

True

In [167]:
ss[0:10:2]

'PtoGo'

In [168]:
ss[0:10:3]

'PhGd'

In [172]:
list (range(0,10,2) )

[0, 2, 4, 6, 8]

In [164]:
ss[::3]

'PhGd'

In [180]:
ss  in ss

True

In [192]:
'b' > '9'

True

In [190]:
ord ('I')

73

In [186]:
ord('b')

98

In [196]:
chr (33)

'!'

In [202]:
import string

In [203]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [204]:
string.digits

'0123456789'

In [205]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [218]:
ss3='Pyt#h$'

In [210]:
ss4=ss3.replace('#','')
ss4

'Pyth$'

In [211]:
ss4.replace('$','')

'Pyth'

In [219]:

for i in string.punctuation:
    ss3=ss3.replace(i,' ')

print(ss3)

Pyt h

In [200]:
newss='p' + ss[1:10]
newss

'pythonGood'

In [201]:
newss='p' + ss[1:]
newss

'pythonGood'

In [206]:
newss.replace('G', 'g')

'pythongood'

In [207]:
newss

'pythonGood'

In [181]:
'Python' < 'Java'

False

In [148]:
start=0
for i in range(ss.count('o')):
    start=ss.find('o',start)
    print(start)
    start+=1

4
7
8

In [143]:
ss.find?

In [222]:
lastname=  'Doe'
firstname = 'John'
fullname= firstname +" "+lastname 
fullname3=firstname +"%$"+lastname 
silly = 3*lastname

In [223]:
fullname3

'John%$Doe'

In [224]:
fullname3.split()

['John%$Doe']

In [281]:
ss

'PythonGood'

In [288]:
ss[::-1]

'dooGnohtyP'

In [225]:
for i in string.punctuation:
    fullname3=fullname3.replace(i,' ')

print(fullname3)

John  Doe

In [226]:
fullname3.split()

['John', 'Doe']

In [151]:
silly

'DoeDoeDoe'

In [ ]:
firstname-1

In [ ]:
'34'+ 2

In [152]:
fullname[2]

'h'

In [ ]:
fullname[-1]

In [ ]:
fullname[-2]

In [ ]:
fullname.upper()

In [ ]:
fullname.count("o")

In [ ]:
fullname.find("o")

In [ ]:
fullname.rfind("o")

In [ ]:
len (fullname)

In [ ]:
fullname[3:8]

In [ ]:
'o'  in fullname

In [ ]:
'o'  not in fullname

In [ ]:
ord('a')

In [ ]:
chr(97)

### Strings are Immutable

In [ ]:
fullname[0]='j'

In [ ]:
fullname2='j'+ fullname[1:]
fullname2

# Lists: Basics

In [289]:
pets = ['ant', 'bird', 'cod', 'dog', 'elk']
pets[3]

'dog'

In [298]:
newpets=[]
for i in range(len(pets)-1,-1,-1):
    newpets.append(pets[i])

newpets

IndexError: list index out of range

In [290]:
pets[::-1]

['elk', 'dog', 'cod', 'bird', 'ant']

In [243]:
pets

['ant', 'bird', 'cod', 'dog', 'elk']

In [245]:
edible_new_animals=['fish', 'chicken']
pets  + edible_new_animals

['ant', 'bird', 'cod', 'dog', 'elk', 'fish', 'chicken']

In [246]:
edible_new_animals + pets

['fish', 'chicken', 'ant', 'bird', 'cod', 'dog', 'elk']

In [247]:
edible_new_animals += pets
edible_new_animals

['fish', 'chicken', 'ant', 'bird', 'cod', 'dog', 'elk']

In [250]:
DNA= ['T'] *10
DNA

['T', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'T', 'T']

In [251]:
DNA[3]='G'
DNA

['T', 'T', 'T', 'G', 'T', 'T', 'T', 'T', 'T', 'T']

In [254]:
DNA[0::2]

['T', 'T', 'T', 'T', 'T']

In [264]:
mixlist = [44, 'bird', 12.9, [False, 'dog'], True ]
mixlist[4]

True

In [234]:
mixlist[3]

[False, 'dog']

In [259]:
mixlist[3][1]

'dog'

In [260]:
mixlist[3][1]= 'goat'
mixlist

[44, 'bird', 12.9, [False, 'goat'], True]

In [262]:
mixlist.append('dog')
mixlist

[44, 'bird', 12.9, [False, 'goat'], True, 'dog', 'dog']

In [263]:
mixlist.append(['Hen', 'Cat'])
mixlist

[44, 'bird', 12.9, [False, 'goat'], True, 'dog', 'dog', ['Hen', 'Cat']]

In [265]:
mixlist += ['Hen', 'Cat']
mixlist

[44, 'bird', 12.9, [False, 'dog'], True, 'Hen', 'Cat']

In [266]:
mixlist.insert(0, 'cat')
mixlist

['cat', 44, 'bird', 12.9, [False, 'dog'], True, 'Hen', 'Cat']

In [267]:
mixlist.pop()

'Cat'

In [268]:
mixlist

['cat', 44, 'bird', 12.9, [False, 'dog'], True, 'Hen']

In [269]:
mixlist.pop(0)

'cat'

In [270]:
mixlist

[44, 'bird', 12.9, [False, 'dog'], True, 'Hen']

In [271]:
mixlist.remove('bird')

In [272]:
mixlist

[44, 12.9, [False, 'dog'], True, 'Hen']

In [273]:
mixlist.count(44)

1

In [274]:
mixlist.index(44)

0

In [275]:
lst = [3, 1, -7, -4, 9, -2]
lst.sort()
lst

[-7, -4, -2, 1, 3, 9]

In [276]:
lst = [3, 1, -7, -4, 9, -2]
lst.sort( reverse=True)
lst

[9, 3, 1, -2, -4, -7]

In [277]:
lst = [3, 1, -7, -4, 9, -2]
sorted(lst)

[-7, -4, -2, 1, 3, 9]

In [278]:
lst

[3, 1, -7, -4, 9, -2]

Write a program to take a number K as input, reads K  names (one at a time), store them in a list,  and then print them.

In [280]:
def get_names():
    names=[]
    K=input("Please provide an Interger\n")
    K=eval(K)
    for i in range(K):
        name =input("Please provide a name\n")
        names.append(name)
    print (names)

        
        

get_names()

Please provide an Interger
3
Please provide a name
Tom
Please provide a name
Jerry
Please provide a name
Bidden
['Tom', 'Jerry', 'Bidden']

In [ ]:
names